.row
    .col-md-6.col-md-offset-3
        %h1=@tutor.name
        %p.lead="#{glyph 'user'} #{@tutor.lc_id}"
        %p.lead="#{glyph 'send'} #{@tutor.email}"
        - count=@tutor.courses.count
        %p.lead="#{@tutor.name} tutors #{count} #{'course'.pluralize(count)}:"
= haml :courses