.row
    .col-md-6.col-md-offset-3
        %h1=@tutor.name
        %p.lead="#{glyph 'user'} #{"%07d" % @tutor.lc_id}"
        %p.lead="#{glyph 'send'} #{@tutor.email}"
        - count=@tutor.courses.count
        %p.lead="#{@tutor.name} tutors #{count} #{'course'.pluralize(count)}:"
= haml :courses
.row 
    .col-md-6.col-md-offset-3
        %a.btn.btn-primary{href: "/tutors/#{@tutor.id}/edit"} Edit
        %a.btn.btn-danger{'data-toggle' => 'modal', 'data-target' => '#confirmdelete'} Delete
        %form{method: 'post', id: 'deleteform'}
            %input{:name => "_method", :type => "hidden", :value => "delete"}
.modal.fade#confirmdelete{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}>
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                %h4.modal-title="Are you sure you want to delete the info for #{@tutor.name}?"
            .modal-body
                %button.btn.btn-primary{'data-dismiss' => 'modal'} Cancel
                %button.btn.btn-danger.pull-right#confirmdeletebutton="Delete #{@tutor.first_name}"
- @scripts << "/js/delete_tutor.js"

